In [1]:
# import all libraries

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
# To load my dataset

data = pd.read_csv('Position_Salaries.csv')
data.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  10 non-null     object
 1   Level     10 non-null     int64
 2   Salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 372.0+ bytes

In [4]:
data.describe()

          Level          Salary
count  10.00000       10.000000
mean    5.50000   249500.000000
std     3.02765   299373.883668
min     1.00000    45000.000000
25%     3.25000    65000.000000
50%     5.50000   130000.000000
75%     7.75000   275000.000000
max    10.00000  1000000.000000

In [5]:
data.isnull().sum()

Position    0
Level       0
Salary      0
dtype: int64

In [10]:
# Labeling the data

x = data.iloc[:, 1:2]
y = data.iloc[:, 2]

In [11]:
x

   Level
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10

In [12]:
y

0      45000
1      50000
2      60000
3      80000
4     110000
5     150000
6     200000
7     300000
8     500000
9    1000000
Name: Salary, dtype: int64

In [13]:
# Splitting the dataset

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [14]:
# Initializing the Linear Regression model

model = LinearRegression()
model.fit(x_train, y_train)   # The training process

LinearRegression()

In [15]:
# Making Predictions

new_salary = model.predict(x_test)

In [16]:
mse = mean_squared_error(y_test, new_salary)
mse

7840057409.334121

In [17]:
rvalue = r2_score(y_test, new_salary)
rvalue

0.8451346684575975

In [18]:
new_salary

array([550732.75862069, -64482.75862069])

In [19]:
model.coef_

array([87887.93103448])

In [20]:
model.intercept_

-240258.62068965513